@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;700;800;900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --dark: #212121;
  --dark2: #2a2a2a;
  --dark3: #323232;
  --dark4: #3b3b3b;
  --dark5: #434343;

  --white: #fff;
  --white2: #f6f6f6;

  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent
}

::-webkit-scrollbar-thumb {
  background: var(--dark2);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  transition: all ease .4s;
  background: var(--dark5);
}

html,body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.6rem;

  width: 100%;
  height: 100vh;
  background-color: #101010;
}

.title {
  margin: 20px 0;
  color: var(--white2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
  position: relative;
}

.title i {
  animation: animalogo cubic-bezier(1,2.01,.53,-1.59) infinite 32s;
  font-size: 5rem;
  position: absolute;
  top: 0;
  left: -2rem;
}

.title span {
  text-shadow: 0 0 30px rgb(160, 0, 210);
  z-index: 1;
}

@keyframes animalogo {
  0% {
    transform: rotateZ(0deg);
    filter: drop-shadow(0 0px 2px rgb(160, 0, 210));
  }
  20% {
    transform: rotateZ(90deg);
  }
  40% {
    transform: rotateZ(180deg) scale(10.5);
  }
  60% {
    transform: rotateZ(360deg) scale(13.5);
  }
  80% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(0deg) scale(1.5);
    filter: drop-shadow(0 4px 6px rgb(160, 0, 210));
  }
}

.main {
  position: relative;
  z-index: 1;
  width: 37.5rem;
  height: 90%;
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--dark);

  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.name {
  display: flex;
  background-color: var(--dark2);
  min-height: 50px;
}

.name span {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3rem;
}

.name-input, .message-input{
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--white2);
  font-size: 1.6rem;
  font-weight: 700;
}

.message-input {
  padding: 0 12px;
  width: 100%;
}


/* ul */
.message-container {
  width: 100%;
  height: calc(100% - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;

  display: flex;
  flex-direction: column;

  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center center;
}

.message-left, .message-right {
  list-style: none;
  padding: 8px 12px;
  margin: 12px;
  max-width: 25rem;
  font-size: 1.8rem;
  word-wrap: break-word;
}

.message-left {
  border-radius: 20px 20px 20px 0;
  background-color: var(--white2);
  align-self: flex-start;
  box-shadow: -2px 2px 4px var(--dark3);
}

.message-left > p > span, .message-right > p > span {
  display: block;
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

.message-right {
  border-radius: 20px 20px 0 20px;
  background-color: var(--dark3);
  color: var(--white2);
  align-self: flex-end;
  box-shadow: 2px 2px 8px var(--dark5);
}

.feedback {
  font-style: italic;
  font-size: 1.4rem;
  padding: 0 1.6rem 1.6rem 1.6rem;
  color: var(--dark3);
  text-align: center;
}

/* end ul */

.message-form {
  display: flex;
  background-color: var(--dark2);
  min-height: 50px;
}

.send-button {
  padding: 8px 16px;
  background-color: var(--dark2);
  border: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3rem;
}

.send-button:hover {
  transition: all ease .4s;
  background-color: var(--dark3);
  cursor: pointer;
}

.send-button:active {
  scale: 0.9;
}

.clients-total {
  margin: 20px 0;
  color: var(--dark3);
}
